html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.App {
  margin: -10px;
}

.header > img {
  width: 100%;
}

.container {
  color: darkblue;
  display: flex;
  justify-content: center;
}

.items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#title {
  font-size: 3em;
}

#title > span {
  color: red;
  font-weight: bold;
  font-size: 3rem;
}

#subtitle {
  margin-top: 10px;
}

#gallery {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#gallery > button,
form {
  position: absolute;
  bottom: 0px;
  width: auto;
}

#symbol {
  display: inline;
}

#caption {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  margin: 1em;
}

#symbol {
  font-size: 3em;
  margin-right: 1em;
}

#social-media {
  display: flex;
  flex-direction: row;
  bottom: 0px;
  margin-top: -15px;
}

.icon {
  margin-right: 2em;
}

#tagline {
  font-size: 0.8em;
}
