.container {
  color: darkblue;
  display: flex;
  justify-content: center;
}

.items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header > img {
  width: 100%;
}

#title {
  font-size: 2em;
}

#title > span {
  color: red;
  font-weight: bold;
  font-size: 2rem;
}

#subtitle {
  margin-top: 10px;
}

#gallery {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pic1,
#pic7 {
  width: 8%;
}

#pic2,
#pic6 {
  width: 12%;
}

#pic3,
#pic5 {
  width: 20%;
}

#pic4 {
  width: 25%;
}

#symbol {
  display: inline;
}

#caption {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  margin: 1em;
}

#symbol {
  font-size: 3em;
  margin-right: 1em;
}

#social-media {
  display: flex;
  flex-direction: row;
  bottom: 0px;
}

.icon {
  margin-right: 2em;
}

#tagline {
  font-size: 0.8em;
}
