/*
.menubar {
    height: 5vh;
    width: 100%;
    background-color: rgb(71, 71, 248)
}

.logo {
    
}
.logo .logo-text {
    color: rgb(255, 255, 255)
}
*/

.menubar {
    height: 101px;
    max-width: 100%;
    background: url("./menubar-new.png");
}